/* Other rules */
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h1 {
  font-size: 30px;
  padding: 15px;
}

.p {
  font-size: 20px;
  padding: 15px;
}
.header {
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 36px;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 15px 0;
  margin-bottom: 25px;
}

.footer {
  width: 100vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 15px;
  font-size: 20px;
}

.linkIcon {
  display: none;
}

.link span {
  font-weight: bold;
}

.link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link img {
  width: auto;
  height: 20px;
  border-radius: 50%;
}

@media (max-width: 1140px) {
  .container {
    width: 90vw;
    justify-content: space-evenly;
  }

  .footer {
    width: auto;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .linkIcon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

@media (max-width: 786px) {
  .link {
    display: none;
  }
  .linkIcon {
    display: flex;
  }
}
